{% include 'header.html' %}
<body>
{% include 'styles.html' %}
{% include 'sidebar.html' %}
<h2>Document: {{title}}</h2>
<h3>Active: {{date}}</h3>
<h3>Version: {{version}}</h3>
<h3>Review: {{renew_date}}</h3>
<small>Last Edited By: {{userid}}</small>
<h3>Category: </h3>
<ul>
{% for item in category %}
     {% if item !='' %}
        <li><a href="/category/{{item}}">{{item}}</a></li>
    {% endif %}
{% endfor %}
</ul>
<hr/>
<h3>Descriptor:</h3>
{{descriptor|safe}}
<hr/>
<h3>Preamble:</h3>
{{preamble|safe}}
<hr/>
<h3>Document Proper:</h3>
{{content_markdown|safe}}


<script src="/static/js/pdfmake.min.js"></script>
<script src="/static/js/vfs_fonts.js"></script>
<script>
var docDefinition = {
  pageSize: "A4",
  pageMargins: [40, 60, 40, 60],
  header: {
    marginLeft: 20,
    marginRight: 20,
    marginTop: 20,
    columns: [
      { text: "Version: {{version}}, Approved: {{date}}"},
      { text: "{{title}}", alignment: "right" }
    ]
  },
  footer: function(pagenumber, pagecount) {
    return {
        marginLeft: 20,
        marginRight: 20,
        columns: [
           { text: "Ballarat Christian College"},
           { text: pagenumber.toString() + " of " + pagecount, alignment: "right" },
        ],
  }},
  content: [
    { text: "Document:", fontSize: 15 },
    "{{title|safe}}",
    "\n",
    { text: "Version:", fontSize: 15 },
    "{{version}}",
    "\n",
    { text: "Last Edited By:", fontSize: 8 },
    { text: "{{userid}}", fontSize: 8 },
    "\n",
    { text: "Active:", fontSize: 15 },
    "{{date}}",
    "\n",
    { text: "Review:", fontSize: 15 },
    "{{renew_date}}",
    "\n",
    { text: "Category:", fontSize: 15 },
    "\n",
    {
      ul: [
        {% for item in category %}
            "{{item|safe}}",
        {% endfor %}
      ],
      pageBreak: "after"
    },
    "\n",
    { text: "Descriptor:", fontSize: 15 },
    "\n",
    "{{descriptor_json|safe}}",
    { text: "Preamble", fontSize: 15, pageBreak: "before" },
    "\n",
    "{{preamble_json|safe}}",
    "\n",
    { text: "Document Proper:", fontSize: 15, pageBreak: "before" },
    "\n",
    {% for line in content_json %}
        {% if content_json.index(line) == content_json[-1] %}
            "{{line|safe}}"
        {% elif "#" in line %}
            {% if line.count("#") == 1 %}
                { text: "{{line.replace("#","").strip()|safe}}", fontSize: 15, bold: true},
                "\n",
            {% elif line.count("#") == 2 %}
                { text: "{{line.replace("#","").strip()|safe}}", fontSize: 13, bold: true},
                "\n",
            {% elif line.count("#") == 3 %}
                { text: "{{line.replace("#","").strip()|safe}}", fontSize: 12, bold: true},
                "\n",
            {% endif %}
        {% else %}
            "{{line|safe}}",
            "\n",
        {% endif %}
    {% endfor %}
  ]
}
</script>
</body>
