{% include 'header.html' %}
<body>
{% include 'styles.html' %}
{% include 'sidebar.html' %}
<form action="/document/{{title}}/edit/" method="POST">
<p id="hidden">Version Number:</p>
<input id="hidden" name="version" type="number" required placeholder="Version Number." value="{{version}}" /><br>
<p>Approval Date:</p>
<small>YYYY-MM-DD</small><br>
<input name="date" type="date" required placeholder="Date of Activation." value="{{date}}" /><br>
<p>Review Date:</p>
<small>YYYY-MM-DD</small><br>
<input name="date-renew" type="date" required placeholder="Date of Next Review." value="{{renew_date}}" /><br>
<p>Categories:</p>
<small>Seperate multiple categories with commas</small><br>
<input name="category" type="text" required placeholder="Categories, seperated by commas." value="{{category}}" /><br>
<p>Document Descriptor:</p>
<small>New lines will be ignored.</small>
<textarea name="descriptor" required placeholder="Document descriptor.">{{descriptor}}</textarea><br>
<p>Document Preamble:</p>
<small>New lines will be ignored.</small>
<textarea name="preamble" required placeholder="Document preamble.">{{preamble}}</textarea><br>
<p>Document Proper:</p>
<textarea id="document-proper" name="document-proper" required placeholder="Document Proper.">{{content}}</textarea><br>
<p>ID Number:</p>
<input id="identifier" name="identifier" type="password" required placeholder="ID Number" /><br>
<input value="Submit" type="submit" />
</form>
</body>
