{% include 'header.html' %}
<body>
{% include 'styles.html' %}
{% include 'sidebar.html' %}

{% if categories %}
<h1>Categories Found:</h1>
<ul>
{% for category in categories %}
	<li><a href="/category/{{category}}">{{category}}</a></li>
{% endfor %}
</ul>
{% else %}
<p>No Categories Specified</p>
{% endif %}

{% if titles_found %}
<h1>Documents Found:</h1>
<ul>
{% for document in titles_found.values() %}
	{% set URI_title = document['title'].replace(" ", "_") %}
	<li><a href="/document/{{document['version']}}.{{URI_title}}">{{document['title']}}</a></li>
{% endfor %}
</ul>
{% else %}
<p>No Titles Specified</p>
{% endif %}


{% if authors_found %}
<h1>Documents Found with author {{search_author}}:</h1>
<ul>
{% for document in authors_found.values() %}
	{% set URI_title = document['title'].replace(" ", "_") %}
	<li><a href="/document/{{document['version']}}.{{URI_title}}">{{document['title']}}</a></li>
{% endfor %}
</ul>
{% else %}
<p>No Authors Specified</p>
{% endif %}