{% include 'header.html' %}
<body>
{% include 'styles.html' %}
{% include 'sidebar.html' %}

{% if triple_filter %}
<h3>Results for {{titles_search}} by {{search_author}} in {{categories_search}}:</h3>
<ul>
{% for title in triple_filter['list'] %}
{% for compare in titles_found.values() %}
{% if title == compare['title'] %}
{% for category in compare['category'] %}
{% if triple_filter['category'] in category %}
{% set URI_title = compare['title'].replace(" ", "_") %}
<li><a href="/document/{{compare['version']}}.{{URI_title}}">{{title}}</a></li>
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}
{% endfor %}
</ul>
{% endif %}

{% if author_and_category %}
<h3>Results for {{search_author}} in {{categories_search}}:</h3>
<ul>
{% for title in author_and_category['list'] %}
{% for category in author_and_category['list'][title]['category'] %}
{% set find = author_and_category['category'] %}
{% if find in category %}
{% if title != last_title %}
{% set version = author_and_category['list'][title]['version'] %}
{% set URI_title = title.replace(" ","_") %}
<li><a href="/document/{{version}}.{{URI_title}}">{{title}}</a></li>
{% set last_title = title %}
{% endif %}
{% endif %}
{% endfor %}
{% endfor %}
</ul>
{% endif %}

{% if both_titles_and_authors %}
<h3>Results for {{titles_search}} by {{search_author}}:</h3>
<ul>
{% for title in both_titles_and_authors %}
{% for compare in titles_found.values() %}
{% if title == compare['title'] %}
{% set URI_title = compare['title'].replace(" ", "_") %}
<li><a href="/document/{{compare['version']}}.{{URI_title}}">{{title}}</a></li>
{% endif %}
{% endfor %}
{% endfor %}
</ul>
{% endif %}

{% if not both_titles_and_authors %}
{% if not triple_filter %}
{% if not author_and_category %}
{% if categories %}
<h3>Categories Found for {{categories_search}}:</h3>
<ul>
{% for category in categories %}
	<li><a href="/category/{{category}}">{{category}}</a></li>
{% endfor %}
</ul>
{% else %}
<p>No Categories Specified</p>
{% endif %}
{% endif %}
{% endif %}
{% endif %}

{% if not both_titles_and_authors %}
{% if not triple_filter %}
{% if not author_and_category %}
{% if titles_found %}
<h3>Documents Found for {{titles_search}}:</h3>
<ul>
{% for document in titles_found.values() %}
	{% set URI_title = document['title'].replace(" ", "_") %}
	<li><a href="/document/{{document['version']}}.{{URI_title}}">{{document['title']}}</a></li>
{% endfor %}
</ul>
{% else %}
<p>No Titles Specified</p>
{% endif %}
{% endif %}
{% endif %}
{% endif %}


{% if not both_titles_and_authors %}
{% if not triple_filter %}
{% if not author_and_category %}
{% if authors_found %}
<h3>Documents Found with author {{search_author}}:</h3>
<ul>
{% for document in authors_found.values() %}
	{% set URI_title = document['title'].replace(" ", "_") %}
	<li><a href="/document/{{document['version']}}.{{URI_title}}">{{document['title']}}</a></li>
{% endfor %}
</ul>
{% else %}
<p>No Authors Specified</p>
{% endif %}
{% endif %}
{% endif %}
{% endif %}
